<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd">

	<aop:aspectj-autoproxy/>
	
	<!-- Aspect 클래스를 빈으로 등록 -->
	<bean id="useAnnotaion" class="com.jcho5078.aop.UseAnnotationAspect"/>
	
	<!-- 빈 객체 생성 -->
	<bean id="write" class="com.jcho5078.aop.Write">
		<constructor-arg>
			<value>Write 메소드</value>
		</constructor-arg>
	</bean>
	
</beans>
