<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="board">

<!-- ==========================  게시판  =========================== -->

	<!-- 게시판 글쓰기 -->
	<insert id="insertBoard" parameterType="BoardVO">
		INSERT INTO BOARDTABLE(
			BDNUM,
			NAME,
			TITLE,
			CONTENT
		)
		VALUES(
			BOARD_NUM_SEQ.NEXTVAL,
			#{name},
			#{title},
			#{content}
		)
	</insert>
	
	<!-- 게시판 글 조회 -->
	<select id="viewBoard" parameterType="int" resultType="BoardVO">
		SELECT BDNUM, NAME, TITLE, CONTENT, WRITEDATE
		FROM BOARDTABLE
		WHERE BDNUM = #{bdnum}
	</select>
		
	<!-- 게시판 목록 출력 -->
	<select id="loadBoard" resultType="BoardVO">
		SELECT BDNUM, NAME, TITLE, WRITEDATE 
		FROM BOARDTABLE 
		ORDER BY BDNUM DESC
	</select>

</mapper>