<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="emp">
	
	<select id="viewEmp" parameterType="EmpVO" resultType="EmpVO">
		SELECT EMPNO, ENAME, JOB, MGR, HIREDATE, SAL, COMM, DEPTNO
		FROM EMP	
	</select>
	
	<insert id="insertEmp" parameterType="EmpVO">
		INSERT INTO EMP (EMPNO, ENAME, JOB,HIREDATE, SAL) VALUES (#{empno}, #{ename}, #{job}, SYSDATE, #{sal})
	</insert>
	
	<delete id="deleteEmp" parameterType="EmpVO">
		DELETE FROM EMP WHERE EMPNO = #{empno}
	</delete>
	
	<update id="updateEmp" parameterType="EmpVO">
		UPDATE EMP 
		SET ENAME = #{ename}, JOB= #{job}, SAL= #{sal} 
		WHERE EMPNO = #{empno}
	</update>
	
</mapper>
